/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "reset";
@import "tweets.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "players.scss";
@import "games.scss";
 

.header{
  background-color: gray;
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;;
  a{
    text-decoration: none;
    color: white;
    font-size: 58px;
  }
}


.contents{
  margin-top: 1px;
  padding: 50px 50px;
  position: relative;
  overflow: scroll;
}

form{
  margin-bottom: 50px;
}

.footer{
  background-color: gray;
  color: white;
  height: 50px;
  
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.footer_left{
  padding-left: 50px;
  line-height: 25px;
  font-size: 25px;
  color: white;
}
.footer_right{
  padding-right: 50px;
  font-size: 25px;
  line-height: 50px;
  color: white;
}