/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "reset";
@import "tweets.scss";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "players.scss";
@import "games.scss";
@import "users.scss";
@import "bootstrap-sprockets";
@import "bootstrap";

 


.header{
  background-color: rgb(61, 61, 68);
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;;
  a{
    text-decoration: none;
    color: white;
    font-size: 40px;
  }
  .non_login{
    display: flex;
    justify-content: space-around;
  }
}


.contents{
  width: 100%;
  height: calc(100vh - 120px);
  overflow: scroll;
  position: relative;
  
}

form{
  margin-bottom: 50px;
}

.footer{
  background-color: rgb(61, 61, 68);
  color: white;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.footer_left{
  padding-left: 50px;
  line-height: 20px;
  font-size: 25px;
  color: white;
}
.footer_right{
  padding-right: 50px;
  font-size: 25px;
  line-height: 50px;
  color: white;
  .pagetop{
    a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    }
  }
}

body{
  margin: 0;
}
a{
  color: #040404;
  text-decoration: none;
}

/*ハンバーガーボタン*/
.el_humburger {
  position: fixed;
  top: 18px;
  right: 60px;
  width: 30px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: auto;
  color: white;
}
 
 
.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block; }
 
.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: white;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

 
.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgb(61, 61, 68);
  width: 0;
  z-index: 3;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden; }
  .js_humburgerOpen .navi {
    width: 350px; }
 
.navi_item {
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
 }
 

//  .new{
//   padding: 100px;
//   width: 100%;
//   background-image: image-url("./images/IMG_7875 2.JPG");
//   // background-size: cover; 
  
// }
.login{
  margin-right: 20px;
}