// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_page{
 
  .games_1{
    font-size: 50px;
    text-align: center;
  }
  
  .search{
    text-align: center;
    height: 50px;
    font-size: 50;
    line-height: 25px;
    
    .search_form{
      height: 50px;
      background-color: black;
    }
    .search-input{
      width: 300px;
      text-align: center;
    }
    .search-btn{
      width: 50px;
    }
  
  }



  .tables {
    margin-bottom: 50px;
  }
  table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    font-size: 25px;
    th {
      text-align: center;
      background-color: rgb(10, 10, 117);
      color: white;
      height: 50px;
    }
    
    td {
      border: solid 1px rgb(10, 10, 117);
      text-align: center;
      height: 50px;
      font-size: 25px;
    }
    .win{
      background-color: yellow;
      color :black
    }
    .lose{
      background-color: black;
      color: gray;
    }
    
    .game_update{
      a{
        text-decoration: none;
        color: black;
        font-size: 15px;
      }
    }
  }
}