// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_page{
  background-color: rgb(4, 4, 51);
  height: 100vh;
  .game_all{
    padding: 40px 20px;
    margin: 0 200px 0 200px;
    background-color: white;
    height: 100vh;
    .games_1{
      font-size: 50px;
      text-align: center;
      background-color: rgb(4, 4, 51);
      color: white;
      
    }
    .search{
      text-align: center;
      margin-top: 15px;
      height: 70px;
      line-height: 50px;
      
      .search_form{
        height: 50px;
        background-color: black;
      }
      .search-input{
        width: 300px;
        text-align: center;
      }
      .search-btn{
        width: 50px;
      }
    }
    .year {
      background-color: rgb(4, 4, 51);
      padding-left: 30px;
      font-size: 30px;
      color: white;  
    }

    .tables {
      margin: 25px 0 50px 0;
      table {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        font-size: 25px;
        .game_show{
          text-decoration: none;
          color: black;
        }
        th {
          text-align: center;
          background-color: rgb(10, 10, 117);
          color: white;
          height: 50px;
        }
        
        td {
          border: solid 1px rgb(32, 32, 131);
          text-align: center;
          height: 50px;
          font-size: 25px;
          background-color: white;
        }
        .win{
          background-color: yellow;
          color :black
        }
        .lose{
          background-color: black;
          color: gray;
        }
        
        .game_update{
          a{
            text-decoration: none;
            color: black;
            font-size: 15px;
          }
        }
      }
    }
  }  
}

.pointer_all{
  border: solid 1px black;
  .pointer_name{
    background-color: green;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    background-color: rgb(10, 10, 117);
    color: white;
    border: solid 1px black;
  }
  .pointer{
    
    text-align: center;
    
    line-height: 50px;
    font-size: 25px;
  }
}


.new{

  .form-control{
    width: 30%;
  }
}