// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display: none;
}

.member_1{
  text-align: center;
  font-size: 50px;
}

.members{
  display: flex;
  flex-wrap: wrap;
  //background-color: rgb(10, 10, 117);
}

.member{
  height: 230px;
  line-height: 38px;
  width: 30%;
  border: solid 1px black;
  font-size: 20px;
  display: flex;
  margin-bottom: 30px;
  margin-right: 2%;
  margin-left: 1%;
  background-color: black;
  color: white;
  margin-top: 30px;
  .left{
    .left_name{
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
  
}

.left{
  margin: 10px;
  .left_name{
    margin-top: 25px;
    a{
      text-decoration: none;
      color: #000;
    }
  }
  .left_position{
    margin-top: 5px;
  }
  .left_number{
    margin-top: 5px;
  }
  .left_point{
    margin-top: 5px;
  }
}

.right{
  margin: 10px;
}

.member_all{
  .member_create{
    font-size: 35px;
    text-decoration: none;
    color: black
  }
}

.count{
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  border: solid 7px black;

  
  &__1{
    font-size: 100px;
    border: solid 7px black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: gold;
  }
  &__2{
    font-size: 70px;
    border: solid 6px black;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: silver;
  }  
  &__3{
    font-size: 50px;
    border: solid 5px black;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(214, 98, 20);
  }
}

//.member_all{
  //background-image: image-url("9009.jpg");
  //background-size: cover; 
//}