// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display: none;
}

.members{
  display: flex;
  flex-wrap: wrap;
}

.member{
  height: 33%;
  width: 30%;
  border: solid 1px black;
  font-size: 20px;
  display: flex;
  margin-bottom: 30px;
  margin-right: 3%;
}

.left{
  margin: 10px;
  .left_name{
    margin-top: 25px;
  }
  .left_position{
    margin-top: 5px;
  }
  .left_number{
    margin-top: 5px;
  }
  .left_point{
    margin-top: 5px;
  }
}

.right{
  margin: 10px;
}