// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .hidden{
//   display: none;
  
// }

.player_page{
  margin: 10px 10px 60px 10px;
}
  .member_1{
    text-align: center;
    font-size: 50px;
  }
  
  .members{
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px 0 80px;
    // background-color: rgb(10, 10, 117);
    //background-color: rgb(10, 10, 117);
  }
  
  .member{
    height: 350px;
    // line-height: 38px;
    width: 22%;
    border: solid 1px black;
    // font-size: 20px;
    // display: flex;
    // margin-bottom: 30px;
    margin-right: 2%;
    margin-left: 1%;
    background-color: black;
    color: rgb(35, 124, 42);
    margin-top: 30px;
   
    .left{
      // margin: 10px;
     padding: 10px 0 10px 12px;
    }
    .right{
      padding: 10px 10px 0 25px;
      display: flex;
      justify-content: space-between;
      color: white;
      .name_position{
        
        font-size: 25px;
        .right_name{
          a{
            color: white;
            text-decoration: none;
          }
        }
          .right_position{
            
          }
        }
      .right_number{
        font-size: 35px;
        margin-top: 18px;
        color: #000;
        -webkit-text-stroke: 2px #FFF;
        
    }
  }
}


 
.count{
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  border: solid 7px black;
  padding:20px;
  
  
  &__1{
    font-size: 100px;
    border: solid 7px black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: gold;
    margin-top: 20px;
    font-weight: bold;
  }
  &__2{
    font-size: 70px;
    border: solid 6px black;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: silver;
  }  
  &__3{
    font-size: 50px;
    border: solid 5px black;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(214, 98, 20);
  }
}


