.new{
  margin-top: 50px;
  height: calc(100% - 120px);
  width: 100%;
  background-image: url("basuke.jpeg");
  background-repeat:  no-repeat;   
  background-position: center;
  background-size: contain;       
  color:black;
  padding-top: 70px;
  padding-left: 600px;

}